html {
  background-color: #666547;
  color: #6fcb9f;
}

body {
  font-family: "Times New Roman";
  margin-top:0px;
  background-color: #2E8B57;
  color: #6fcb9f;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 2em;
}

p {
  padding: 2%;
}

a:link {
    color: #fffeb3;
}
a:visited {
    color: 	#ffe28a;
}

h1 {
  font-family: "Helvetica", sans-serif;
  color:#fb2e01;
}

h2 {
  font-family: "Helvetica", sans-serif;
  color: #800080;
}

#contact {
  background-color: #ffe28a;
  color: #fb2e01;
  padding: 2%;
}

#references {
  margin-bottom: 5%;
}

@media screen and (max-width: 100%) {
  #container, #header, #content, #footer, #body, #contact
    width: 100%;
  }
}
